* {
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle at 50.65% 42.56%, #ffe347 0, #ffcd41 25%, #f2b53c 50%, #e29e38 75%, #d38a36 100%);
  }
  
  form {
    display: flex;
    justify-content: end;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.430));
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 650px;
    height: 400px;
  }
  
  .titulo-login {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: dashed 3px gold;
  }
  .titulo-login h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #5a5a59;
  }
  .titulo-login h1:hover {
    color: #6c6b69;
  }
  
  .titulo-login img {
    width: 55px;
    height: 45px;
  }
  .img-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .img-presentacion img {
    width: 300px;
    height: 300px;
  }
  
  .formulario {
    width: 50%;
    height: 100%;
  }
  
  .content-input {
    align-items: center;
    height: 70%;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  .span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    font-size: 16px;
  }
  
  span input {
    width: 65%;
    height: 20px;
    padding: 5px;
    margin: 19px 0px;
    margin-left: 10px;
    border: solid 1px #F0BE1C ;
    font-size: 14px;
    border-radius: 8px;
  
  }
  span a {
    text-decoration: none;
    color: #727271;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  span a:hover {
    color: #494949;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  input[type="password"] ,input[type="text"] {
    padding-left: 30px;
    width: 56%;
    
  }
  
  .visibility_off {
    position: absolute;
    right: 69%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .btn {
    width: 125px;
    height: 35px;
    cursor: pointer;
    color: #FFFFFF;
    background: #F5CC48;
    border-radius: 10px;
    border: solid 1px ;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  .alert {
    border-radius: 5px;
    background-color: rgba(224, 130, 130, 0.856);
    width: 200px;
    height: 20px;
  }