.FormularioCategoria {
    width: max-content;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.contenedor_formulario_Categorias {
    width: 100%;
    height: auto;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn i {
    margin-right: 5px;
}

.Filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0px 10px;
    border: solid 1px rgba(134, 134, 134, 0.589);
}

.contenedor-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    border-radius: 10px;
}

.contenedor-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    width: 50%;
}

.icon-text {
    width: 15%;
    height: 5vh;
    padding: 5px;
    display: flex;
    align-items: center;
}

.dasboard-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    width: 100%;
    height: 5vh;
    background-color: rgba(75, 73, 72, 0.979);
    font-family: "Poetsen One", sans-serif;
}