/* Estilo general */
body {
  background-color: #f4f4f4; /* Fondo suave para contraste */
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  color: #ff8c00; /* Color naranja oscuro para encabezados */
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Formulario */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.form-label {
  font-weight: bold;
  color: #ff8c00;
}

.form-control {
  border: 2px solid #ff8c00;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.form-control:focus {
  border-color: #ffa500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

button {
  background-color: #ffa500; /* Botones naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #ff8c00; /* Color al pasar el ratón */
}

/* Estilo para los paneles de usuario */
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

button.m-2 {
  background-color: #ff8c00;
  border-radius: 50px;
  font-weight: bold;
}

button.m-2:hover {
  background-color: #ffa500;
}

h2 {
  color: #ffa500;
}

/* Botones en los paneles de administrador, costurero y parrillero */
.btn-primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #333;
}

.btn-primary:hover {
  background-color: #ffb800;
  border-color: #ffb800;
}

.btn-secondary {
  background-color: #ff9933;
  border-color: #ff9933;
  color: white;
}

.btn-secondary:hover {
  background-color: #ff751a;
  border-color: #ff751a;
}

.btn-warning {
  background-color: #ffaa00;
  border-color: #ffaa00;
  color: #fff;
}

.btn-warning:hover {
  background-color: #ff8800;
  border-color: #ff8800;
}

.btn-danger {
  background-color: #ff6600;
  border-color: #ff6600;
  color: white;
}

.btn-danger:hover {
  background-color: #ff3300;
  border-color: #ff3300;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}
