.form_proveedor {
    padding: 20px;
    width:450px;
    height: 270px;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contenedorForm {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .contenedor-Input {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    padding-left: 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  button.btn-success {
    background-color: #28a745;
    color: white;
  }
  
  button.btn-primary {
    background-color: #007bff;
    margin: 5px 15px;
    color: white;
  }
  button.btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .RegistroNuevoProveedor {
    width: 620px;
    height: 295px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
  }
  .contenedor_formulario_Proveedores {
    width: 100%;
    height: 260px;
  }
  .ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    -webkit-user-select: none;
    user-select: none;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
.Icon {
  margin-right:5px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.contenedor-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border-radius: 10px;
  }
.texto-filtro{
  display: none;
}
.contenedor-2 {
  width: 65%;
}
.ID_tabla{
  width: 5px;
}
.cont-productos {
  height: 90vh;
}
.texto-p{
  display: none;
}
.conten-Btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn-primary {
  margin: 5px 10px;
}
}